@media screen and (max-width: 400px){
  body {
    background-color: #fffbf2;
  }
  .container {
    display: grid;
    background-color: #fffbf2;
    padding: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .header {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #551667;
    background-color: #fff6e0;
    grid-row: 1 / 2;
  }
  .toc {
    background-color: #6391aa;
    grid-row: 2 / 3;
  }
  .content {
    background-color: #dcafc1;
    grid-row: 3 / 4;
  }
  p {
    padding: 10px;
  }
  .mobile-image {
    width: 75%;
  }

  h1 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #551667;
  }
}


@media screen and (min-width: 401px) {
  .header {
    background-color: #fffbf2;
  }
  body {
    background-color: #fffbf2;
  }
  .container {
    display:grid;
    background-color: #fff6e0;
    padding: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .header {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #551667;
    background-color: #fff6e0;
    grid-column: 1 / 4;

  }
  .toc {
    background-color: #6391aa;
    grid-row: 2 / 4;
  }
  .content {
    background-color: #dcafc1;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }
  p {
    padding: 10px;
  }
  .mobile-image {
    width: 75%;
  }

}
