@media screen and (max-width: 800px){
  body {
    background-color: #fff6e0;
  }
  .container {
    display: grid;
    background-color: #fff6e0;
    padding: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .header {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #551667;
    background-color: #fff6e0;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }
  .toc {
    background-color: #6391aa;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }
  .content {
    background-color: #dcafc1;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
  }
  p {
    padding: 10px;
  }
  .mobile-image {
    width: 75%;
  }

  h1 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #551667;
  }
  a:link {
    color: #ef4c00;
    font-weight: bold;
  }

  a:visited {
    color: #bb5221;
  }

  a:hover {
    color: #ffa552;
  }
  .photo {
    padding: 25px, 25px, 25px, 25px

  }
}


@media screen and (min-width: 801px) {
  .header {
    background-color: #fffbf2;
  }
  body {
    background-color: #fffbf2;
  }
  .container {
    display:grid;
    background-color: #fff6e0;
    padding: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .header {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #551667;
    background-color: #fff6e0;
    grid-column: 1 / 4;

  }
  .toc {
    background-color: #6391aa;
    grid-row: 2 / 4;
  }
  .content {
    background-color: #dcafc1;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }
  p {
    padding: 10px;
  }
  .mobile-image {
    width: 50%;
  }
  a:link {
    color: #ef4c00;
    font-weight: bold;
  }

  a:visited {
    color: #bb5221;
  }

  a:hover {
    color: #ffa552;
  }
  .photo {
    padding: 25px, 25px, 25px, 25px

  }
  }

}
