h1 {
  font-weight: 300;
}

strong {
  font-weight: 900;
}

button {
  transition: color 300ms; ease-in-out;
  font-size: 60px;
}

.is-red {
  color: red;
}

.gets-bigger
{
  font-size: 50px;
  padding: 50px;
}
